<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Manager.classes.UserManager">
                <endpoint address="" binding="basicHttpBinding" contract="Manager.interfaces.IUserManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Manager.classes/UserManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Manager.classes.ProductManager">
                <endpoint address="" binding="basicHttpBinding" contract="Manager.interfaces.IProductManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Manager.classes/ProductManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Manager.classes.OrderManager">
                <endpoint address="" binding="basicHttpBinding" contract="Manager.interfaces.IOrderManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Manager.classes/OrderManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Manager.classes.BrandManager">
                <endpoint address="" binding="basicHttpBinding" contract="Manager.interfaces.IBrandManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Manager.interfaces/BrandManager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Manager.classes.CategoryManager">
                <endpoint address="" binding="basicHttpBinding" contract="Manager.interfaces.ICategoryManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Manager.interfaces/CategoryManager/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDBManager" />
                <binding name="BasicHttpBinding_IDBManager1" />
                <binding name="BasicHttpBinding_IDBManager2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/dbManager.vscommerceDB/DBManager/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDBManager2"
                contract="database.vscommerceDB.IDBManager" name="BasicHttpBinding_IDBManager" />
        </client>
    </system.serviceModel>
</configuration>